.about-container {
  display: flex;
  flex-direction: column;
}

.about-right {
  margin-top: 240px;
  width: 28%;
}

.text-orange {
  color: var(--text-orange);
}

.about-text {
  font-family: "Manrope", sans-serif;
  color: var(--text-primary);
  font-size: 14px;
}

.question-text {
  font-family: "Manrope", sans-serif;
  color: var(--text-primary);
  font-size: 14px;
  width: 60%;
}

.text-and-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.photo {
  width: 700px;
  object-fit: contain;
}

.about-top {
  display: flex;
  justify-content: center;
}

.about-bottom {
  display: flex;
  justify-content: center;
}

.path-img {
  width: 50%;
  margin-right: 5%;
}

@media (max-width: 1940px) {
  .about-container {
    width: 70%;
    margin: 0 auto;
    background: white;
  }
  .about-right {
    width: 50%;
  }
  .path-img {
    width: 75%;
  }
}

@media (max-width: 1600px) {
  .photo {
    width: 55%;
    height: 100%;
  }
  .about-right {
    margin-top: 10%;
  }
}

@media (max-width: 1320px) {
  .path-img {
    width: 100%;
  }
  .about-right {
    margin-top: 4%;
  }
  .about-container {
    width: 80%;
  }
}

@media (max-width: 1050px) {
  .about-container {
    width: 100%;
    padding: 0 2%;
  }
  .about-right {
    margin: 2% 0;
  }
  .about-top {
    align-items: center;
  }
}

@media (max-width: 750px) {
  .about-top {
    flex-direction: column;
  }
  .photo {
    width: 70%;
  }
  .text-and-btn {
    flex-direction: column;
    margin-top: 20px;
  }
  .question-text {
    width: 100%;
  }
  .text-and-btn a {
    margin: 20px auto;
  }
}
