.pet-body {
  position: relative;
}

.pet-bg-paws {
  position: absolute;
  left: 8%;
  width: 84%;
  top: 550px;
  z-index: -1;
}

@media (max-width: 1700px) {
  .pet-bg-paws {
    opacity: 0;
  }
}
