.pet-body {
  position: relative;
}

.pet-bg-paws {
  position: absolute;
  left: 8%;
  width: 84%;
  top: 550px;
  z-index: -2;
}

.pet-bg-fade-mask {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 85%,
    #FFFFFF 90%
  );
}

@media (max-width: 1700px) {
  .pet-bg-paws {
    opacity: 0;
  }
}
