#pet-contact {
  width: 50%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: start;
}

/* PHOTO */

.Koka-and-you {
  grid-column: 1;
  grid-row: 1 / 3;

  width: 100%;
  border-radius: 15px;
  z-index: 2;
    box-shadow: 8px 8px 10px rgba(0, 62, 37, 0.4);
}

/* COLONNE DE DROITE */

.petcontact-right {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  margin-bottom: 50px;
}

#pet-contact h1 {
  color: #E25E00;
  font-family: "Cause", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

/* RECTANGLE + TEXTE */

.petcontact-rectangle-div {
  grid-column: 1 / 3;
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
}

.petcontact-rectangle,
.petcontact-text-rectangle {
  grid-area: 1 / 1;
}

.petcontact-rectangle {
  width: 100%;
  z-index: 1;

  grid-column: 1 / 3;
  grid-row: 1;

  background: #8BE8A4;
  background: linear-gradient(180deg, rgba(139, 232, 164, 1) 0%, rgba(53, 187, 140, 1) 100%);
  border-radius: 15px;
}

.petcontact-text-rectangle {
  grid-column: 2;
  grid-row: 1;

  justify-self: center;
  align-self: center;

  width: 80%;
  padding: 20px;
  z-index: 2;
}

/* TEXTE */

.petcontact-text-rectangle p {
  color: #044730;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.petcontact-infos-list {
  margin-top: 15px;
}

.petcontact-infos {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.petcontact-infos img {
  width: 40px;
  margin-right: 20px;
}

.petcontact-logo-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7473%) hue-rotate(42deg) brightness(114%) contrast(101%);
}

@media (max-width: 1400px) {
  #pet-contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  align-items: start;
}
  .petcontact-right {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    margin-bottom: 20px;
  }
  .Koka-and-you {
    grid-column: 1;
    grid-row: 2 / 3;
    width: 100%;
    justify-self: center;
  }
  .petcontact-rectangle-div {
    grid-column: 1;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    width: 80%;
    justify-self: center;
  }
  .petcontact-rectangle {
    grid-column: 1;
    grid-row: 1 / 2;
    height: 135%;
    margin-top: -100px;
    justify-self: center;

  }
  .petcontact-text-rectangle {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    padding: 20px 50px;
  }
}

@media (max-width: 650px) {
  #pet-contact {
    width: 90%;
  }
}
