#portraits {
  margin: 50px 0;
  position: relative;
}

#portraits h1 {
  color: #E25E00;
  font-family: "Cause", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.dessin-infos {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 75%;
  margin: 20px auto;
}

.dessin-infos img {
  width: 400px;
  border-radius: 15px;
}

.dessin-infos h2 {
  font-family: "Cause", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #0F503A;
  text-align: center;
  margin-bottom: 15px;
}

.dessin-tarifs {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  width: 100px;
  margin: 15px 0 0 15px;
}

.dessin-tarifs span {
  font-family: "Cause", sans-serif;
  color: #E25E00;
  font-size: 24px;
}

.dessin-text {
  width: 30%;
  margin: auto 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.dessin-offert {
  margin: 20px 0;
}

.dessin-offert span {
  color: #0F503A;
  font-size: 20px;
  font-weight: 600;
}

.dessin-restants {
  font-size: 18px;
  font-weight: 600;
}

.dessin-restants span {
  color: #E25E00;
  font-size: 30px
}

.dessin-et-animaux {
  margin: 40px 0;
  display: grid;
}

.dessin-groupe-photos,
.dessin-wave {
  grid-area: 1 / 1;
}

.dessin-groupe-photos {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  z-index: 2;
  align-self: end;
}

.dessin-groupe-photos img {
  width: 400px;
  height: fit-content;
  border-radius: 15px;
}

.dessin-wave {
  align-self: end;
  width: 100%;
  z-index: 1;
  fill: linear-gradient(180deg,rgba(137, 231, 163, 1) 15%, rgba(55, 188, 140, 1) 100%);
}
