.project-container {
  display: flex;
  margin: 30px auto;
  width: 90%;
  /* background: rgb(255, 255, 255); */
}

.carousel-container {
  width: 70%;
  background-image: url("../assets/images/SVG/bg_projects.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  padding: 30px 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot-wrapper {
  width: 70%;
  /* height: 800px; */
  max-height: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-darkindigo);
  overflow-y: scroll;   /* active le scroll vertical */

  /* Scrollbar pour Firefox */
  scrollbar-width: thin;
  scrollbar-color: #3c468e rgba(60, 70, 142, 0.2);
}

/* Scrollbar pour Chrome, Safari, Edge */
.screenshot-wrapper::-webkit-scrollbar {
  width: 6px;
}
.screenshot-wrapper::-webkit-scrollbar-track {
  background: rgba(60, 70, 142, 0.2);
  border-radius: 3px;
}
.screenshot-wrapper::-webkit-scrollbar-thumb {
  background: #3c468e;
  border-radius: 3px;
}
.screenshot-wrapper::-webkit-scrollbar-thumb:hover {
  background: #5a66b0;    /* légèrement plus clair au survol */
}

.screenshots {
  width: 100%;
  display: block;
}

.dots {
  text-align: center;
  margin: 10px 0;
}

.dot {
  cursor: pointer;
  width: 7px;
  filter: brightness(0) saturate(100%) invert(28%) sepia(8%) saturate(4713%) hue-rotate(196deg) brightness(93%) contrast(91%);
  margin: 2px;
}

.dot-active {
  cursor: pointer;
  width: 8px;
  margin: 2px;
  filter: brightness(0) saturate(100%) invert(52%) sepia(9%) saturate(3424%) hue-rotate(199deg) brightness(104%) contrast(101%);
}

.arrows {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  filter: brightness(0) saturate(100%) invert(23%) sepia(14%) saturate(5664%) hue-rotate(210deg) brightness(96%) contrast(84%);
  background: rgba(60, 70, 142, 0.3);
  margin: 0 3%;
}

.project-info {
  width: 25%;
  height: 100%;
  background: rgb(255, 255, 255);
  font-family: "Manrope", sans-serif;
  padding: 2%;
  border: 1px solid var(--color-indigo);
  border-radius: 10px;
  margin-left: 2%;
}

.project-info h1 {
  font-size: 22px;
  color: var(--color-darkindigo);
  margin-bottom: 5%;
}

.project-info p {
  font-size: 14px;
  margin-bottom: 2%;
}

.project-info ul {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 5%;
}

.keywords-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px
}

.btn-back-projects {
  margin: 0 auto 30px auto;
  padding: 5px 0;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--color-indigo);
  cursor: pointer;
  background: var(--color-clearindigo);
  color: var(--color-indigo);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

.btn-back-projects img {
  width: 30px;
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(51%) sepia(60%) saturate(596%) hue-rotate(199deg) brightness(99%) contrast(90%);
}

.btn-back-projects:hover {
  background: rgb(60, 71, 142);
  box-shadow: 0 0 10px rgb(129, 136, 240);
  color: white;
  transition-duration: 0.3s;
}

.btn-back-projects:hover img {
  filter: brightness(0) invert(1);
  transition-duration: 0.3s;
}

@media (max-width: 1400px) {
  .project-container {
    width: 97%;
  }
}

@media (max-width: 1250px) {
  .carousel-container {
    width: 65%;
  }
  .project-info {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }
  .carousel-container {
    width: 95%;
  }
  .project-info {
    width: 60%;
    margin-top: 20px;
  }
  .project-info h1 {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .project-info {
    width: 95%;
  }
}
